:root {
    --main-color: rgb(252, 101, 113);
    --green-color: rgb(214, 214, 214);
    --gray-color: rgb(194, 194, 194);

}


body,p,h1,h2,h3,h4,h5,h6 {font-family: "Roboto Mono", monospace, sans-serif;} /* change to sans-serif when readt */

body, html {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: "TT03";
    src: url(fonts/tt03.ttf);
    font-style: normal;
    font-weight: 100;     
}
@font-face {
    font-family: "TT07";
    src: url(fonts/tt07.ttf);
    font-style: normal;
    font-weight: 100;     
}
@font-face {
    font-family: "TT12";
    src: url(fonts/tt12.ttf);
    font-style: normal;
    font-weight: 100;     
}
@font-face {
    font-family: "TT19";
    src: url(fonts/tt19.ttf);
    font-style: normal;
    font-weight: 100;     
}

.tt03 {
    font-family: "TT03", monospace;
    font-weight:100;
    font-style:normal;
    font-size: 50px;
}
.tt07 {
    font-family: "TT07", monospace;
    font-weight:100;
    font-style:normal;
    font-size: 50px;
}
.tt12 {
    font-family: "TT12", monospace;
    font-weight:100;
    font-style:normal;
    font-size: 50px;
}
.tt19 {
    font-family: "TT19", monospace;
    font-weight:100;
    font-style:normal;
    font-size: 50px;
}


#left-wrapper {
    /* background-color: rgb(215, 242, 255); */
    width: 33%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-emphasis: center;
    z-index: 1; /* Stay on top */
    /* overflow: hidden; Disable horizontal scroll */
}
#right-wrapper {
    width: 66%;
    margin-left: 32.7%;
    margin-top: -5px;
    text-align: center;
    /* background-color: rgb(255, 174, 208); */
}
#slider-box {
    position: fixed;
    /* background-color: rgba(255, 0, 0, 0.281); */
    /* margin: auto; */
    width: 1%;
    top: 2%;
    left: 32.7%;
    height: 96%;

}
#letter-container {
    /* border: red 2px solid; */
    margin: 0;
    width: 100%;

}


.vids {z-index: 1;}


.vid-stack {
    /* border: rgb(218, 218, 218) 1px solid; */
    position: relative;
    width: 200px;
    height: 81.81px;
    margin: 0px -1px;
    display: inline-block;
}
.letter-vids, .cam-only {
    min-width: 100%;
    max-width: 100%;
}
.letter-vids {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    mix-blend-mode: darken;
    opacity: 1;
    transition: all .2s ease;
}
.cam-only {
    position: absolute;
    top: 0;
    left: 0;
}

.overlayTop {
    background-color: rgb(255, 255, 255);
    border: white 1.2px solid;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
    opacity: 1;
    z-index: 2;
    width: 100%;
    height: 100%;
}
/* .vid-stack:hover .overlayTop{
    opacity: 0;
    border: white 0px solid;
}
.vid-stack:hover .letter-vids{
    opacity: .7;
} */

.main-vid {
    max-width: 100%;
    width: 1000px;
    /* min-width: 60%; */
    display: block;
    padding: 0;
    margin: auto;
}
#camVid {
    width: 95%;
    display: block;
    margin: auto;
}

h1 {
    margin-top: 20px;
    font-family: "TT07";
    display: block;
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
    font-size: 100px;
    cursor: default;
    margin-bottom: 5px;
}

/* h1:hover {
    font-family: "TT03";
    cursor: default;
} */

.formations {
    font-family: "Roboto Mono ",monospace;
    display: block;
    font-weight: normal;
    font-size: 70px;
    height: 120px;
    margin: 0;
    padding: 0;
    cursor: default;
    color: var(--gray-color);
}

#download {
    height: 120px;
    padding-top: 10px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    background-color: grey;
    color: white;
    font-size:45px;
    font-family: monospace;
    display: inline-block;
}
#download:hover {
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    font-family: "TT19";
}
#download:active {
    transform: translateY(10px);
}
#try-bg {
    width: 100%;
    background-color: black;
    background-image: url(field-bg.PNG);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
}
#tryitout {
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    width: 85%;
    margin: 0;
    background: none;
}
.try-options {
    display: inline-block;
    height: 45px;
    font-size: 28px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: none;
    margin-top: -6px;
    margin-bottom: 0px;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    opacity: .6;
}
.tryActive{
    /* background-color: var(--green-color); */
    opacity: 1;
}
#fix-div {
    width: 100%;
    height: 370px;
    vertical-align: middle;
    position: relative;
    text-align: left;

}

.fix {
    margin-left: 20%;
    font-size: 100px;
    display: inline-block;
    font-family: "TT03";
    transition: .7s;
    text-align: left;
    margin-top: 34px;
    z-index: 5;
}
.manager {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#manager-box {
    position: absolute;
    top:108px;
    right: 5%;
}
#manager-div {
    display: inline-block;
    height: 200px;
    width: 260px;
    position: relative;
}
#m-happy {
    opacity: 0;
    transition: .25s;
}
/* 
.fix:hover ~ #m-happy {
    opacity: 1;
}
.fix:hover {
    font-size: 105px;
    font-family: "TT07";
    margin-top: 28px;
} */

.try-options:hover {cursor: pointer; font-weight: bold;}
#f1:hover {font-family: "TT03"; color: black;}
#f2:hover {font-family: "TT07"; color: black;}
#f3:hover {font-family: "TT12"; color: black;}
#f4:hover {font-family: "TT19"; color: black;}

#btn {
    height: 1px;
    width: 32px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    /* padding: 20px 20px; */
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    text-align: center;
    display: inline-block;
}
#slider {
    display: inline-block;
    text-align: center;
    width: 80%;
    height: 5px;
    padding: 0;
    margin-left: 22px;
    vertical-align: top;
    margin-top: 16.6px;
    /* margin: auto; */
    -webkit-appearance: none;
    /* appearance: none; */
    outline: none;
    border-radius: 2px;
    color: tomato;
    background-color: #000000;
    z-index: 5;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -1px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
}

/* input[type=range][orient=vertical]
{
    -webkit-appearance: none;
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical; 
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none;
    border-radius: 4px;
    background-color: #ff8cd9;
} */

#type {
    width: 100%;
    min-height: 100px;
}

.fa-play, .fa-pause {
    padding-top: 9px;
    padding-bottom: 25px;
    padding-left: 3px;
}
.fa-pause {
    padding-left: 0px;
}
.fa-big {
    padding-top: 11px;
}
#btn-big {
    height: 3px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;

    /* padding: 20px 20px; */
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    text-align: center;
    display: inline-block;
    margin: auto;
}

.vids {z-index: 1;}


.single-vid-stack {   
    
    width: 1000px;
    height: 405.5px;
    display: block;
    padding: 0;
    margin: auto;
    position: relative;
}
.single-letter-vids {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    mix-blend-mode: darken;
    opacity: .8;
}
.single-cam-only {
    position: absolute;
    top: 0;
    left: 0;
}
.single-vids {
    height: 100%;
    width: 100%;
}

#back {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 40px;
    padding-bottom: 20px;
}

a {
    text-decoration: underline;
    color: gray;
}
a:hover {
    text-decoration: underline;
    color: black;

}
